body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
    max-height: 150px;
}

.content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

ul {
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 0;
}

.navbar {
    text-align: center;
    background-color: rgb(147, 147, 147);
    padding: 10px 0;
    margin: 0;
}

.nav-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(147, 147, 147);
    color: white;
    text-decoration: none;
    border: 2px solid black;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: darkgrey;
}


.navbar {
    text-align: left; 
    background-color: rgb(147, 147, 147);
    padding: 10px 0 10px 20px; 
    margin: 0;
}









.bottom-image img {
    width: 75%; 
    height: auto; 
    display: inline-block; 
}

ul {
  
    margin-bottom: 20px; 
}


.bottom-image {
    text-align: center; 
    margin-top: 20px; 
}

.bottom-image img {
    width: 75%; 
    height: auto; 
}


